body{
  background: linear-gradient(45deg, #041129, #0a1613, #12180b, #1f131c, #350404);
  font-family: "JetBrains Mono";
  height: 100vh;
}


a {
  text-decoration: none;
  position: relative; /* Нужно для управления псевдоэлементом */
  color: #000;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Расстояние от текста */
  width: 0;
  height: 1px; /* Толщина подчеркивания */
  background-color: white; /* Цвет подчеркивания */
  transition: width 0.3s ease; /* Анимация изменения ширины */
}

a:hover::after {
  width: 100%; /* Подчеркивание растягивается на весь текст */
}

/* Основной стиль кнопки */
/* Основной стиль кнопки */
button {
  background: #027527; /* Полупрозрачный фон */
  border: none; /* Полупрозрачная граница */
  color: white;
  font-size: 16px;
  font-family: "Jetbrains Mono";
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Сглаженные углы */
  position: relative;
  overflow: hidden; /* Ограничиваем псевдоэлемент внутри кнопки */
  box-sizing: border-box; /* Учитываем границу внутри размера кнопки */
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  backdrop-filter: blur(5px); /* Размытие фона для мягкости */
}

/* Псевдоэлемент для подчеркивания */
button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px; /* Толщина подчеркивания */
  background-color: white; /* Цвет подчеркивания */
  transition: width 0.3s ease;
}

/* Эффект при наведении */
button:hover { /* Текст становится черным при наведении */
  background-color: #04642cbb; /* Мягкое затемнение фона */
  border-color: white; /* Граница становится белой */
}

button:hover::after {
  width: 100%; /* Подчеркивание растягивается на всю ширину кнопки */
}





button a{
  color: white;
}
button a::after{
  height: 0;
}

::selection{
  background-color: white;
  color: black;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
};